{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BeBetter{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tracker_app/styles.css' %}">
</head>

<body class="container">
    <header>
        <h1>BeBetter</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>

            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            {% else %}
                {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'signup' %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 BeBetter. All rights reserved.</p>
    </footer>

</body>
</html>