{% extends "tracker_app/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="card">
            <p>Welcome, {{ user.username }}!</p>
            <h2>Log your time everytime you waste time doom scrolling!</h2>

            <form action="" method="POST">
                {% csrf_token %}
                <label for="duration_minutes">Duration in minutes:</label>
                <input type="number" name="duration_minutes" id="duration_minutes" placeholder="e.g., 30" required>
                <button type="submit">Log Time</button>
            </form>


            <h2>Doom Scrolling Log</h2>

            <h3>You have spend {{ total_duration }} minutes doom scrolling.</h3>

            <p>Here are your recent logs:</p>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Duration (minutes)</th>
                        <th>Logged At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.duration_minutes }}</td>
                            <td>{{ log.logged_at }}</td>
                        </tr> 

                    {% empty %}
                        <tr>
                            <td>No logs recorded yet!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



    {% else %}

        <div class="card guest-hero">
            <h2>Welcome to BeBetter</h2>
            <p>Track your screen time and take control of your daily habits.</p>
            <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign Up</a> to start!</p>
        </div>
    {% endif %}
{% endblock %}